@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Está página é a conclusão do curso de C# Orientado a Objeto, onde o projeto final é a entrega de um web site utilizando ASP .NET CORE MVC.</p>

<p>Neste projeto foi desenvolvido um site de vendas, utilizando dois CRUD's um para departamento e outro para os Vendedores. Com isso, foi aplicado todo o conhecimento e habilidades desenvolvidas no curso</p>

<p>Eu sou Rodrigo Silva Mendes, responsável pela criação e desenvolvimento do projeto!</p>
