@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Pan, 397 - CEP: 09572-550<br />
    São Caetano do Sul, Nova Gerty - São Paulo.<br />
    <abbr title="Celular">Celular:</abbr>
    9.9276 - 2727
</address>

<address>
    <strong>Rede Social:</strong> <a href="https://www.linkedin.com/in/rodrigo-mendes-95a700170/">LikedIn</a><br />
    <strong>E-mail:</strong> <a href="mailto:rodrigo.mendes15@hotmail.com">Hotmail</a>
</address>
